

body {
    margin: 0 auto 5rem auto;
    width: 1000px;
    
}

.header {
    display: flex;
    background-color: #d3d3ab;
    color: #54542c;
    height: minimum;
    padding: 2%;
}

.header img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 0.70rem; 
}

.textHead h1 {
    margin: 1.5rem 0 0.1rem 0;
    font-family: Roboto Mono;
    font-size: 3.75rem;
}

.textHead h3 {
    margin-top: 0;
    margin-bottom: 0.3rem;
    font-family: roboto slab;
    font-size: 1.7rem;
    font-weight: 400;
}

.textHead p {
    margin-top: 0 1.0rem 0 0.1rem;
    font-family: jost;
    font-size: 0.94rem;
    font-weight: 300;
}

.allInfo {
    display: flex;
    padding: 0 1% 0 1%;
    
}

.allInfo h2 {
    font-family: roboto slab;
    font-weight: 500;
    font-size: 30px;
    color: #54542c;
    border-bottom: 2px #96964f solid;
    margin-top: 30px;
}

.allInfo h3 {
    font-family: roboto slab;
    font-weight: 400;
    color: #54542c;
}

.allInfo h5 {
    font-family: jost;
    font-weight: 400;
    color: #54542c;
}

.allInfo p {
    font-family: jost;
    font-weight: 300;
    font-size: 14px;
    color: #96964f
}

.spaceExp {
    margin: 0 2.0rem 0.3rem 0;
}

.experience h3 {
    margin-bottom: 3px;

}

.experience h5 {
    margin-top: 0;
    margin-bottom: 2px;
}

.spaceOther {
    margin-bottom: 0.3rem;
}


table {
    font-family: jost;
    font-weight: 400;
    font-size: 12px;
    color: #54542c;
}

.skill h5 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.progressContainer {
    width: 300px;
    height: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 0;
    padding: 0;
}

.progressBar1 {
    width: 70%;
    height: 100%;
    background-color: #54542c;
    border-radius: 0 10px 10px 0;
}

.progressBar2 {
    width: 75%;
    height: 100%;
    background-color: #54542c;
    border-radius: 0 10px 10px 0;
}

.progressBar3 {
    width: 90%;
    height: 100%;
    background-color: #54542c;
    border-radius: 0 10px 10px 0;
}

.progressBar4 {
    width: 85%;
    height: 100%;
    background-color: #54542c;
    border-radius: 0 10px 10px 0;
}

.language h5 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.progressLng1 {
    width: 100%;
    height: 100%;
    background-color: #54542c;
    border-radius: 0 10px 10px 0;
}

.progressLng2 {
    width: 85%;
    height: 100%;
    background-color: #54542c;
    border-radius: 0 10px 10px 0;
}

.progressLng3 {
    width: 70%;
    height: 100%;
    background-color: #54542c;
    border-radius: 0 10px 10px 0;
}

.other h5 {
    margin-bottom: 3px;
}